body {
    font-family:Arial, sans-serif;
    
}

p{
    margin-left: 10px;
}

span{
    font-weight: bold;
}

.liste {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-height: 50px;
    max-width: 400px;
    position: relative;
    justify-content: space-between; /* Keep this line */
    
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Sex {
    max-width: 20%;
    align-self: center; /* This aligns the image vertically in the middle */
    margin-left: auto; /* This pushes the image to the right */
}
.Sex img {
    max-width: 100%;
    height: auto;
}