{{define "promo"}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="vewport" content="width=devide-width, initital-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Informations sur la promotion</title>
    </head>
    <body>
        <h2>{{.CurrentPromo.Titre}}</h2>
    <div class="infoPromo">
        <p><span>Nom : </span>{{.CurrentPromo.Nom}}</p>
        <p><span>Filière : </span>{{.CurrentPromo.Filière}}</p>
        <p><span>Niveau : </span>{{.CurrentPromo.Niveau}}</p>
        <p><span>Nombre d'étudiants : </span>{{.NbUsers}}</p>
    </div>
        <h2>{{.TitreUsers}}</h2>
        {{range .CurrentPromo.Users}}
        <div class="liste">
                <div class="info">
                    <div class="Nom">{{.FirstName}} {{.LastName}}</div>
                    <div class="Age">{{.Age}}</div>
            </div>
        <div class="Sex">
            {{if eq .Sex "Homme"}}
                <img src="/static/Homme.png" alt="Male">
            {{else if eq .Sex "Femme"}}
                <img src="/static/Femme.png" alt="Female">
            {{else}}
                <img src="/static/Autre.jpg" alt="Unknown">
            {{end}}
            </div>
        </div>
        {{end}}
    </body>
</html>
{{end}}