body {
    font-family:Arial, sans-serif;
   
}

*{
    margin: 0;
    padding: 0;
}

.infoPromo p{
    margin-left: 10px;
}

span{
    font-weight: bold;
}

.liste {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-height: 50px;
    max-width: 400px;
    position: relative;
    justify-content: space-between; /* Keep this line */
    
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Sex {
    max-width: 20%;
    align-self: center; /* This aligns the image vertically in the middle */
    margin-left: auto; /* This pushes the image to the right */
}
.Sex img {
    max-width: 100%;
    height: auto;
}

.Pourtour{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.Border{
    border: 2px solid black;
    border-radius: 10px;
    padding:2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayUser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.displayUser p {
    margin: 5px 0;
}

.Border h1{
    margin-bottom: 15px;
}

.formul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.label{
   font-weight: bold;
}

.formul input{
    text-align: center;
    margin-bottom: 10px;
}

.form button{
    margin-top: 15px;
}